 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
}


header {
    display: flex;
    align-items: center;
    height: 70vh;
    min-height: 700px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    font-size: 25px;
    color: #fc697a;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
        font-size: 17px;
        font-weight: 600;
        padding: 20px;
        color: #656875;
        display: block;
        text-transform: uppercase;
}

.menu .navbar ul li a:hover {
    color: #121140;  
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 100px;
    display: flex;
    padding: 50px;
    background-color: #f5f9fc;
    border-radius: 25px;
}

.header-txt {
    width: 50;

}

.header-txt h1 {
    font-size: 50px;
    line-height: 70px;
    color: #12114d;
    text-transform: capitalize;
    font-weight: 800;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 16px;
    color: #656875;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    padding:13px 25px;
    background-color: #fc697a;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    text-transform: capitalize;
    box-shadow: 0 0 15px rgba(0, 0, 0.2);
}

.btn-1:hover {
    background-color: #E95F6F;
}

.header-img {
    width: 50%;
    text-align: right;
}

.header-img img {
    width: 400px;
}

.general {
    padding: 100px 0;
    display: flex
}

.general-1 {
    width: 70%;
    display: flex;
}

.general-card {
    padding: 40px;
    text-align: center;
    margin: 0 10px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.general-card img {
    width: 30px;
    margin-bottom: 25px;
}

.general-card h3 {
    font-size: 18px;
    color: #121140;
    margin-bottom: 15px;
}

.general-card p {
    font-size: 16px;
    color: #656875;
}

.general-2 {
    width: 30%;
    margin: 0 35;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    color: #121140;
    margin-bottom: 20px;
}

.general-2 p {
    font-size: 16px;
    color: #656875;
    margin-bottom: 35px;
}

.btn-2 {
    display:inline-block ;
    padding: 13px 25px;
    color: #121140;
    font-size: 17px;
    text-transform: capitalize;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn-2:hover {
    background-color: #fc697a;
    color: #FFFFFF;
}

.bg-1 {
    width: 33%;
    height: 400px;
    background-image: url(imagenes/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-2 {
    width: 33%;
    height: 400px;
    background-image: url(imagenes/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.informacion {
    padding: 100px 0;
    background-color: #f5f9fc;
    text-align: center;
}

.informacion-content {
    margin-top: 70px;
    display: flex;
}

.information-1 {
    margin: 0 25px;
}

.information-1 h3 {
    text-transform: capitalize;
    font-size: 25px;
    color: #12114d;
    margin-bottom: 15px;
}

.information-1 p{
    font-size: 16px;
    color: #656875;
    margin-bottom: 35px;
}

.footer {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-txt {
    padding-right: 500px;
}

.footer-txt p{
    font-size: 16px;
    color: #656875;
    margin-top: 25px;
}

.footer-socials {
    display: flex;
}

.footer-socials img {
    margin:  0 15px;
    width: 30px;
    height: 30px;
}

@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #f0efef;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        height: 0vh;
        min-height: 1000px;
        background-color: #f5f9fc;
    }

    .header-content {
        flex-direction: column;
        padding: 50px 30px 20px 30px;
        margin: 0;
    }

    .header-txt {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 25px;
    }

    .header-img {
        width: 100%;
        text-align: center;
    }

    .header-img img {
        width: 100%;
    }

   .general {
    padding: 30px;
    flex-direction: column;
   } 

   .general-1 {
    width: 100%;
    flex-direction: column;
    order: 2;
   }

   .general-2 {
    width: 100%;
    margin: 0 0 40px 0;
    text-align: center;
   }

   .general-card {
    margin: 0 0 25px 0;
   }

   .bg-1, .bg-2, .bg-3 {
    width: 100%;
   }

   .information {
    padding: 30px;
   }

   .information-content {
    margin-top: 30px;
    flex-direction: column;
   }

   .information-1 {
    text-align: center;
    margin: 0 0 45px 0;
   }

   .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
   }

   .footer-txt {
    padding-right: 0;
   }

   .footer-socials {
    margin-top: 50px;
   }

}